@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

.calendar_custom .h-9.w-9 button{
  border-radius: 0;
}

.calendar_custom td.h-9.w-9:first-child button{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.calendar_custom td.h-9.w-9:last-child button{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}